/*
CUSTOM STYLE FOR THIS CMS
/////////////////////////
www.rumahmedia.com
author: Master Yanno Senpai;
/////////////////////////
*/

/* admin.css */
/* zeneight */

body {
	background: #f1f4f7;
	padding-top: 50px;
}

a {
	color: #30a5ff;
}

.main {
	padding: 10px 10px 0 10px;
}

.sidebar {
	background: #fff;
}

.sidebar ul {
	list-style: none;
	padding: 0;
}

.sidebar ul li {
	
}

.sidebar ul li a {
	display: block;
	text-decoration: none;
	padding: 10px 10px 10px 20px;
}

.sidebar ul li a:hover {
	background: #000;
	color: #fff;
}

.navbar-toggle {
	float: left;
}

/* ---------------- Menu Bar ---------------- */
.user-menu {
	display: inline-block;
	margin-top: 14px;
	margin-right: 10px;
	float: right;
	list-style: none;
	padding: 0;
}

.user-menu a {
	color: #fff;
	text-decoration: none;
}

/* -------------- sidebar ------------------- */
.sidebar {
	margin: 0;
	padding: 10px 0 0 0;
}

.sidebar i {
	width: 25px;
}

.sidebar .active a {
	background: #30a5ff;
	color: #fff;
}

.teks-berjalan {
	margin: 20px 0;
}

@media (max-width: 768px) {
	.sidebar {
		display: block;
		position: fixed;
		top: 50px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		overflow-x: hidden;
		overflow-y: auto;
		background: #fff;
		box-shadow: 1px 0px 10px rgba(0, 0, 0, .05);
	}

	.navbar-header {
		width: 100%;
	}
}

/* ------------------ Breadcrumbs ---------------- */
.breadcrumb {
	border-radius: 0;
	padding: 10px 15px;
	background: #e9ecf2;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	margin: 0;
}

/* ----------------- Page Header ------------------*/
h2.page-header {
	margin-top:20px;
	margin-bottom: 0;
	border-bottom: 0;
}
h3.page-header {
	marign-top: 0;
}

/* --------------- Pael Widget ------------------------ */
.panel-blue {background: #30a5ff; color: #30a5ff;}
.panel-teal {background: #1ebfae; color: #1ebfae;}
.panel-orange {background: #ffb53e; color: #ffb53e;}
.panel-red {background: #f9243f; color: #f9243f;}

.no-padding {
	padding: 0;
	margin: 0;
}

.widget-left {
	font-size: 40px;
	height: 80px;
	padding-top: 15px;
	text-align: center;
	color: #fff;
	border-radius: 0 3px 3px 0;
}

.widget-right {
	text-align: right;
	padding-top: 10px;
	height: 80px;
	background: #fff;
	border-radius: 0 3px 3px 0;
}

.large {
	font-size: 2em;
}

.text-muted {
	color: #9fadbb;
}

.panel-default {
	border: none;
	border-radius: 3px;
}


.navbar-inverse {
	background-color: #F8F8F8;
	border-color: #e7e7e7;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	color: #000;
}

.navbar-inverse a:hover.navbar-brand {
	color: #000;
}

div.konten {
	padding-top: 50px;
	margin-bottom: 100px;
}

#footer {
	position:fixed;
	left:0px;
	bottom:0px;
	width:100%;
	height: 60px;
	z-index: 10;
	background-color: #f5f5f5;
}

#footer > .container {
	padding-top:15px;
	padding-left: 15px;
	padding-right: 15px;
}
#loading {
	position: fixed;
	left: 45%;
	top: 10%;
	width: 100%;
	height: 100%;
	z-index: 9999;
}

.bubblingG {
	text-align: center;
	width:80px;
	height:50px;
}

.bubblingG span {
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 10px;
	margin: 25px auto;
	background: #27c027;
	-moz-border-radius: 50px;
	-moz-animation: bubblingG 1.2s infinite alternate;
	-webkit-border-radius: 50px;
	-webkit-animation: bubblingG 1.2s infinite alternate;
	-ms-border-radius: 50px;
	-ms-animation: bubblingG 1.2s infinite alternate;
	-o-border-radius: 50px;
	-o-animation: bubblingG 1.2s infinite alternate;
	border-radius: 50px;
	animation: bubblingG 1.2s infinite alternate;
}

#bubblingG_1 {
	-moz-animation-delay: 0s;
	-webkit-animation-delay: 0s;
	-ms-animation-delay: 0s;
	-o-animation-delay: 0s;
	animation-delay: 0s;
}

#bubblingG_2 {
	-moz-animation-delay: 0.36s;
	-webkit-animation-delay: 0.36s;
	-ms-animation-delay: 0.36s;
	-o-animation-delay: 0.36s;
	animation-delay: 0.36s;
}

#bubblingG_3 {
	-moz-animation-delay: 0.72s;
	-webkit-animation-delay: 0.72s;
	-ms-animation-delay: 0.72s;
	-o-animation-delay: 0.72s;
	animation-delay: 0.72s;
}

@-moz-keyframes bubblingG {
	0% {
		width: 10px;
		height: 10px;
		background-color:#27c027;
		-moz-transform: translateY(0);
	}

	100% {
		width: 24px;
		height: 24px;
		background-color:#FFFFFF;
		-moz-transform: translateY(-21px);
	}

}

@-webkit-keyframes bubblingG {
	0% {
		width: 10px;
		height: 10px;
		background-color:#27c027;
		-webkit-transform: translateY(0);
	}

	100% {
		width: 24px;
		height: 24px;
		background-color:#FFFFFF;
		-webkit-transform: translateY(-21px);
	}

}

@-ms-keyframes bubblingG {
	0% {
		width: 10px;
		height: 10px;
		background-color:#27c027;
		-ms-transform: translateY(0);
	}

	100% {
		width: 24px;
		height: 24px;
		background-color:#FFFFFF;
		-ms-transform: translateY(-21px);
	}

}

@-o-keyframes bubblingG {
	0% {
		width: 10px;
		height: 10px;
		background-color:#27c027;
		-o-transform: translateY(0);
	}

	100% {
		width: 24px;
		height: 24px;
		background-color:#FFFFFF;
		-o-transform: translateY(-21px);
	}

}

@keyframes bubblingG {
	0% {
		width: 10px;
		height: 10px;
		background-color:#27c027;
		transform: translateY(0);
	}

	100% {
		width: 24px;
		height: 24px;
		background-color:#FFFFFF;
		transform: translateY(-21px);
	}
}

/*CSS responsive table*/
	@media only screen and (max-width: 1000px) {
/* Force table to not be like tables anymore */
#no-more-tables table, 
#no-more-tables thead, 
#no-more-tables tbody, 
#no-more-tables th, 
#no-more-tables td, 
#no-more-tables tr { 
	display: block; 
}

/* Hide table headers (but not display: none;, for accessibility) */
#no-more-tables thead tr { 
	position: absolute;
	top: -9999px;
	left: -9999px;
}

#no-more-tables tr { border: 1px solid #ccc; }

#no-more-tables td { 
	/* Behave  like a "row" */
	border: none;
	border-bottom: 1px solid #eee; 
	position: relative;
	padding-left: 50%; 
	white-space: normal;
	text-align:left;
}

#no-more-tables td:before { 
	/* Now like a table header */
	position: absolute;
	/* Top/left values mimic padding */
	top: 6px;
	left: 6px;
	width: 45%; 
	padding-right: 10px; 
	white-space: nowrap;
	text-align:left;
	font-weight: bold;
}

/*
Label the data
*/
#no-more-tables td:before { content: attr(data-title); }
}